
html, body {
    height: 100%;
    background: #FFFFFF;
    font: 15px 'Lucida sans', Arial, Helvetica;
    color: #000000;
}

#logo {
    width: 450px;
    height: 105px;
    margin: 150px auto 50px auto;
    background-image: url("assets/logo-dark.png");
    background-size: 450px 100px;
    background-repeat: no-repeat;
}

#logo-dataset {
    width: 450px;
    height: 105px;
    margin: 20px auto 10px auto;
    background-image: url("assets/logo-dark.png");
    background-size: 450px 100px;
    background-repeat: no-repeat;
}

p.resources {
	line-height: 150%;
}

.csv {
	padding: 2px;
	border-radius: 4px;
	background: grey;
}
