/*
Search box CSS from http://speckyboy.com/2012/02/15/how-to-build-a-stylish-css3-search-box/
*/

html, body {
    height: 100%;
    background: #FFFFFF;
    font: 13px 'Lucida sans', Arial, Helvetica;
    color: #000000;
}

#logo {
    width: 450px;
    height: 105px;
    margin: 150px auto 50px auto;
    background-image: url("assets/logo-dark.png");
    background-size: 450px 100px;
    background-repeat: no-repeat;
}

#logo-dataset {
    width: 450px;
    height: 105px;
    margin: 20px auto 10px auto;
    background-image: url("assets/logo-dark.png");
    background-size: 450px 100px;
    background-repeat: no-repeat;
}